html{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}

#first-div{
    width: 200px;
    border: solid red 5px;
    padding: 10px;
    margin-bottom: 10px;
}

#second-div{
    width: 200px;
    border: solid red 5px;
    box-sizing: content-box;
}

#third-div{
    border: solid blue 15px;
    width: 150px;
}
